<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>About Page</title>
</head>
<body>
    <h1>About Us</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/contact">Contact</a>
        <a href="/blog">Blog</a>
    </nav>

    <p>Name: Michael Jhon Carbonel</p>
    <p>Section/Course: IT32S1 CITE 006</p>
    <p>Year Level: 3rd yr BSIT</p>
    <p>School: Technological Institute of the Philippines</p>
</body>
</html>